services:
  web:
    build: .
    ports:
      - "8082:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
    env_file:
      - .env
    environment:
      - DB_HOST=db

  db:
    image: mariadb:10.11
    ports:
      - "3306:3306"
    env_file:
      - .env
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql

  adminer:
    image: adminer
    ports:
      - "8081:8080"
    depends_on:
      - db

volumes:
  db_data:
